:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #a6a6a6;
	--white: white;
	--primary: #901be2;
	--primary-hover: #781cba;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8e4;
	--dark-green: #173e2f;
	--dark-green-hover: #0e271e;
	--color-green: #249c6e;
}